# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# PyInstaller output
dist/
build/

# Packaging
*.egg-info/

# Editor
.vscode/
.DS_Store

output.mp3
output.tmp.mp3
shadowing_recording.wav